.DS_Store
/bin/
.classpath
.project
ProjectApart1/.classpath
ProjectApart1/.project
ProjectApart1/bin/package01/Airplane.class
ProjectApart1/bin/package02/Helicopter.class
ProjectApart1/bin/package02/Quadcopter.class
ProjectApart1/bin/package03/Multirotor.class
ProjectApart1/bin/package04/UAV.class
ProjectApart1/bin/package05/AgriculturalDrone.class
ProjectApart1/bin/package05/MAV.class
ProjectApart2/.classpath
ProjectApart2/.project
